#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#issMap {
  margin-top: 1em;
  height: 300px;
  width: 500px;
}

p {
  margin: 0;
}
h1 {
  margin-bottom: 0;
}
h2 {
  margin-top: 0;
}
